<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="/css/front.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <noscript>
      JavaScript is disabled. App will not run correctly.
    </noscript>

    <!--<div id="hero"></div>
    <script data-union-widget="hero" data-union-container="hero" type="application/json"></script>

    <div id="content"></div>
    <script data-union-widget="content" data-union-container="content" type="application/json">
    {
      "messages": {
        "heading": "Welcome",
        "content": "This is sample server content."
      }
    }
    </script>-->


    <div id="header"></div>
    <script data-union-widget="header" data-union-container="header" type="application/json"></script>

    <div id="train-overview"></div>
    <script data-union-widget="train-overview" data-union-container="train-overview" type="application/json"></script>

    <!--<div id="trainset-overview"></div>
    <script data-union-widget="trainset-overview" data-union-container="trainset-overview" type="application/json"></script>-->

    <!--<div id="route-overview"></div>
    <script data-union-widget="route-overview" data-union-container="route-overview" type="application/json"></script>-->

    <!--<div id="route-detail"></div>
    <script data-union-widget="route-detail" data-union-container="route-detail" type="application/json">
      {
        "id": 1
      }
    </script>-->

    <!--<div id="trainset-detail"></div>
    <script data-union-widget="trainset-detail" data-union-container="trainset-detail" type="application/json">
    {
      "id": 3
    }
    </script>-->

    <!--<div id="trainset-editor"></div>
    <script data-union-widget="trainset-editor" data-union-container="trainset-editor" type="application/json">
      {
        "id": 7,
        "from": "2018-11-12-00:00",
        "to": "2019-11-12-50:00",
        "depotId": 1
      }
    </script>-->

    </body>
  </html>
